<div class="total">
  <section class="section">
    <div class="container total-container">
      <div class="total-left">
        <div class="total-order mb-32">
          <div class="total-title" *ngIf="carModel">{{ carModel.name }}</div>
          <div class="total__number" *ngIf="carModel">{{ carModel.number }}</div>
          <div class="total__detail">Топливо
            <span>100%</span>
          </div>
          <div class="total__detail">Доступна с
            <span>12.06.2019 12:00</span>
          </div>
        </div>  
        <div class="total__img" *ngIf="carModel" [ngStyle]="{ 'background-image': 'url(' + carModel.thumbnail.path + ') '}"></div>
      </div>
      <div class="total-right">
        <app-order-data></app-order-data>
        <div class="form form-right">
          <div class="form-group">
            <button class="btn form-right__btn" [disabled]="">Заказать</button>
          </div>
        </div>  
      </div>
    </div>
  </section>
</div>