@import "../../style/common.scss";

.footer {
    position: fixed;
    left: 64px;
    right: 688px;
    bottom: 0;
    padding-bottom: 34px;
    background: $white;

    @media (max-width: $smallpc_width) {
        left: 64px;
        right: 410px;
    }

    @media (max-width: $tablet_width) {
        left: 86px;
        right: 0;
    }

     @media (max-width: $big-mobile_width) {
        left: 0;
        right: 0;
        padding-top: 10px;
        padding-bottom: 16px;
        background: #151B1F;
    }

	
	&-container {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;

        @media (max-width: $big-mobile_width) {
            flex-wrap: wrap;
        }
	}

	&__left {
	    flex-grow: 1;
	    font-size: 13px;
        line-height: 15px;
        font-weight: 400;
        color: $gray;

        @media (max-width: $big-mobile_width) {
            flex-basis: 100%;
            order: 1;
            text-align: right;
            color: $light;
        }
	}

	&__right {
	    text-align: right;

        @media (max-width: $big-mobile_width) {
            margin-bottom: 8px;
            flex-basis: 100%;
            text-align: right;
        }
	}

    &__phone {
        font-weight: 400;

        @media (max-width: $big-mobile_width) {
            color: $green;
        }
    }
}