@import "../../style/common.scss";

.footer {
    position: fixed;
    left: 64px;
    right: 688px;
    bottom: 0;
    padding-bottom: 34px;
    background: $white;
	
	&-container {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}

	&__left {
	    flex-grow: 1;
	    font-size: 13px;
        line-height: 15px;
        color: $gray;
	}

	&__right {
	    text-align: right;
	}
}