<div class="content">
  <header class="header">
    <app-header></app-header>
  </header>
  <div class="order-nav">
    <div class="container">
      <ul class="order-nav-list">
        <li class="order-nav__item">
          <button class="order-nav__link" [ngClass]="{active: tab == 'location', full: point}" (click)="tabs('location')" [disabled]="!point">Местоположение</button>
        </li>
        <li class="order-nav__item">
          <button class="order-nav__link" [ngClass]="{active: tab == 'model', full: point}" (click)="tabs('model')" [disabled]="!point">Модель</button>
        </li>
        <li class="order-nav__item">
          <button class="order-nav__link" [ngClass]="{active: tab == 'comment', full: modelId}" (click)="tabs('comment')" [disabled]="!modelId">Дополнительно</button>
        </li>
        <li class="order-nav__item">
          <button class="order-nav__link" [ngClass]="{active: tab == 'total', full: cost}" (click)="tabs('total')" [disabled]="!cost">Итого</button>
        </li>
      </ul>
    </div>
  </div> 
  <div [ngSwitch]="tab">
    <ng-template ngSwitchCase="location">
      <app-location (tab)="tabs($event)"></app-location>
    </ng-template> 
    <ng-template ngSwitchCase="model">
      <app-model (tab)="tabs($event)"></app-model>
    </ng-template>
    <ng-template ngSwitchCase="comment">
      <app-details (tab)="tabs($event)"></app-details>
    </ng-template>
    <ng-template ngSwitchCase="total">
      <app-total></app-total>
    </ng-template>
  </div>  
</div>