<div class="order-data">
  <h4 class="h4 total-right__title">Ваш заказ:</h4>
  <div class="form form-right">
    <div class="form-group" *ngIf="point">
      <div class="form-label">Пункт выдачи</div>
      <span>......................</span>
      <div class="form-control form__text" id="point">{{ point }}</div>
    </div>
    <div class="form-group" *ngIf="modelId.length>0 && carModel">
      <div class="form-label">Модель</div>
      <span>......................</span>
      <div class="form-control form__text" id="model">{{ carModel.name }}</div>
    </div>
    <div class="form-group">
      <div class="form-label">Цвет</div>
      <span>......................</span>
      <div class="form-control form__text" id="color">Голубой</div>
    </div>
    <div class="form-group">
      <div class="form-label">Дительность аренды</div>
      <span>......</span>
      <div class="form-control form__text" id="duration">1д 2ч</div>
    </div>
    <div class="form-group">
      <div class="form-label">Тариф</div>
      <span>......................</span>
      <div class="form-control form__text" id="rate">На сутки</div>
    </div>
    <div class="form-group mb-32">
      <div class="form-label">Полный бак</div>
      <span>......................</span>
      <div class="form-control form__text" id="fullTank">Да</div>
    </div>
    <p class="strong mb-32" *ngIf="!carModel">Цена: от 8 000 до 12 000 ₽</p>
    <p class="strong mb-32" *ngIf="modelId.length>0 && carModel">Цена: от {{ carModel.priceMin }} до {{ carModel.priceMax }} ₽</p>
  </div>
</div>
