<div class="order-data">
  <h4 class="h4 total-right__title">Ваш заказ:</h4>
  <div class="form form-right">
    <div class="form-group" *ngIf="point">
      <div class="form-label">Пункт выдачи</div>
      <span>......................</span>
      <div class="form-control form__text" id="point">{{ point }}</div>
    </div>
    <div class="form-group" *ngIf="modelId.length>0 && carModel">
      <div class="form-label">Модель</div>
      <span>......................</span>
      <div class="form-control form__text" id="model">{{ carModel.name }}</div>
    </div>
    <div class="form-group" *ngIf="color">
      <div class="form-label">Цвет</div>
      <span>......................</span>
      <div class="form-control form__text" id="color">{{ color }}</div>
    </div>
    <div class="form-group" *ngIf="duration">
      <div class="form-label">Дительность аренды</div>
      <span>......</span>
      <div class="form-control form__text" id="duration">
        <span *ngIf="duration.days > 0">{{ duration.days }}д</span>
        <span *ngIf="(duration.hours - duration.days*24) > 0">{{ duration.hours - duration.days*24 }}ч</span>
        <span *ngIf="(duration.minutes - duration.hours*60) > 0">{{ duration.minutes - duration.hours*60 }}мин</span>
      </div>
    </div>
    <div class="form-group" *ngIf="rate">
      <div class="form-label">Тариф</div>
      <span>......................</span>
      <div class="form-control form__text" id="rate">{{ rate.rateTypeId.name }}</div>
    </div>
    <div class="form-group mb-32" *ngFor="let service of services">
      <div class="form-label" *ngIf="service.checked">{{ service.name }}</div>
      <span *ngIf="service.checked">......................</span>
      <div class="form-control form__text" *ngIf="service.checked">Да</div>  
    </div>
    <p class="strong mb-32" *ngIf="!carModel">Цена: от 8 000 до 12 000 ₽</p>
    <p class="strong mb-32" *ngIf="modelId.length>0 && carModel && cost=='0'">Цена: от {{ carModel.priceMin }} до {{ carModel.priceMax }} ₽</p>
    <p class="strong mb-32" *ngIf="cost !== '0'">Цена: {{ cost }} ₽</p>
  </div>
</div>
