<swiper [slidesPerView]="1" [navigation]="true" [pagination]="{ clickable: true }"
>
  <ng-template swiperSlide>
  	<div>
  		<img src="assets/images/1.png" alt="">
  	</div>
  </ng-template>
  <ng-template swiperSlide>
  	<div>
  		<img src="assets/images/2.png" alt="">
  	</div>
  </ng-template>
  <ng-template swiperSlide>
  	<div>
  		<img src="assets/images/3.png" alt="">
  	</div>
  </ng-template>
  <ng-template swiperSlide>
  	<div>
  		<img src="assets/images/4.png" alt="">
  	</div>
  </ng-template>
</swiper>
