<div class="location">
  <section class="section">
    <div class="container location-container">
      <div class="location-left">
        <app-map></app-map>
      </div>
      <div class="location-right">
        <app-order-data></app-order-data>
        <div class="form form-right">
          <div class="form-group">
            <button class="btn form-right__btn" [disabled]="!point" (click)="nextTab('model')">Выбрать модель</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>