<div class="form">
  <form id="search-form" #searchForm="ngForm">
    <div class="form-group">
      <label class="form-label">Город</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="city" #search="ngModel" (ngModelChange)="onCitySearch()"/>
      <button class="form-reset" (click)="reset(searchForm)"></button>
    </div>
    <div class="search-err text" *ngIf="errCity">Города нет в списке</div>
    <div class="form-group">
      <label class="form-label">Пункт выдачи</label>
      <input type="search" class="form-control" placeholder="Начните вводить пункт ..." name="search" [(ngModel)]="textSearch" #searchPoint="ngModel" (ngModelChange)="onPointSearch()"/>
    </div>
  </form>    
</div>
<div class="map-wrap">
  <ya-map [center]="[55.751952, 37.600739]" [zoom]="12" (ready)="onMapReady($event)">
    <ya-placemark [geometry]="[55.751952, 37.600739]" [properties]="placemarkProperties"
      [options]="placemarkOptions"></ya-placemark>
  </ya-map>
</div>
