<section class="section">
  <div class="container model-container">
    <div class="model-left">
      <div *ngIf="carModel">
        <app-color 
          [carColors]="carModel.colors" 
          (color)="onColorChange($event)">  
        </app-color>
      </div>
      <div class="date-wrap">
        <app-dates 
          (start)="getStartDate($event)"
          (end)="getEndDate($event)">  
        </app-dates>
      </div>  
    </div>
    <div class="model-right">
      <h4 class="h4 model-right__title">Ваш заказ:</h4>
      <form class="form form-right" [formGroup]="form" novalidate (ngSubmit)="submit()">
        <div class="form-group">
          <label class="form-label">Пункт выдачи</label>
          <span>......................</span>
          <textarea class="form-control form__text" type="text" id="point" name="point" formControlName="point" placeholder="Ульяновск, Нариманова 42"></textarea>
        </div>
        <div class="form-group mb-32">
          <label class="form-label">Модель</label>
          <span>......................</span>
          <input class="form-control form__text" type="text" id="model" name="model" formControlName="model">
          <div class="alert alert-danger"
              *ngIf="form.controls['model'].invalid && form.controls['model'].touched">
              <small></small>
          </div>
        </div>
        <p class="strong mb-32">Цена: от 8 000 до 12 000 ₽</p>
        <div class="form-group">
          <button class="btn form-right__btn" [disabled]="form.invalid">Дополнительно</button>
        </div>
      </form>
    </div>
  </div>
</section>
