<div class="details">
  <section class="section">
    <div class="container details-container">
      <div class="details-left">
        <div *ngIf="carModel">
          <app-color 
            [carColors]="carModel.colors" 
            (color)="onColorChange($event)">  
          </app-color>
        </div>
        <div class="date-wrap">
          <app-dates 
            (start)="getStartDate($event)"
            (end)="getEndDate($event)">  
          </app-dates>
        </div> 
        <div class="rate-wrap">
          <app-rate 
            (rateId)="getRate($event)">  
          </app-rate>
        </div> 
        <div class="service-wrap">
          <app-car-service 
            (service)="getService($event)">  
          </app-car-service>
        </div> 
      </div>
      <div class="details-right">
        <app-order-data></app-order-data>
        <div class="form form-right">
          <div class="form-group">
            <button class="btn form-right__btn" [disabled]="!startDate || !endDate || !carColor || !rate || !cost" (click)="nextTab('total')">Итого</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>  
