@import "../../style/common.scss";

.header {
    position: relative;
}

.main {

	&-content {
	    margin-top: 160px;
	    margin-bottom: 60px;
	}

	&-button {
	    margin-bottom: 191px;
	}

	&__button {
	   width: 250px;
	   height: 48px;
	   font-weight: 500;
	   font-size: 18px;
	   line-height: 21px;
	}
}