<div class="main">
	<header class="header">
		<div class="header-burger">
			<button class="header__btn"></button>
			<a class="header__lang">Eng</a>
		</div>
		<a class="header-logo">Need for drive</a>
		<div class="header-right">
			<a class="header-link">
			    <img class="header-link__img" src="assets/images/icons/map.svg" alt="">
			    <span>Ульяновск</span>
			</a>    
		</div>
	</header>
	<section class="section">
		<div class="container">
			<div class="main-content">
			    <h1 class="h1">Каршеринг</h1>
			    <h2 class="h2">Need for drive</h2>
			    <p class="title">Поминутная аренда авто твоего города</p>
			</div>    
			<div class="main-button">
			    <button class="main__button btn">Забронировать</button>
		    </div>
		</div>
	</section>
	<footer class="footer">
		<div class="container footer-container">
		    <div class="footer__left">© 2016-2019 «Need for drive»</div>
		    <div class="footer__right">
		        <a class="footer__phone">8 (495) 234-22-44</a>
		    </div>
		</div>    
	</footer>
</div>
