<section class="section">
  <div class="container model-container">
    <div class="model-left">
      <app-filter 
        [loadingVar]="pagination.loadingVar" 
        (filter)="onModelChange($event)">  
      </app-filter>
      <div class="model-list" *ngIf="model">
        <a class="model-list__link" *ngFor="let item of model" (click)="modelId(item)" [ngClass] = "{active: item.id == id}">
          <div class="model-list__item">
            <div class="model-list__title">{{ item.name }}</div>
            <div class="model-list__price">{{ item.priceMin + ' - ' + item.priceMax + ' ₽' }}</div>
            <div class="model-list__img" [ngStyle]="{ 'background-image': 'url(' + item.thumbnail.path + ') '}">
            </div>
          </div>
        </a>  
      </div>
       <div class="alert alert-danger" *ngIf="httpService.error$ | async as errors">
          <p>{{ errors }}</p>   
        </div>
      <div class="model-pagination" *ngIf="carModel == 'Все модели' && pagination.loadingVar">
        <app-pagination
          [count]="pagination.countVar"
          [page]="pagination.pageVar"
          [perPage]="pagination.perPageVar"
          [pageToShow]="pagination.pagesToShow"
          [loading]="pagination.loadingVar"
          (goPrev)="prevPage()"
          (goNext)="nextPage()"
          (goPage)="goToPage($event)">
        </app-pagination>
      </div>
    </div>
    <div class="model-right">
      <app-order-data></app-order-data>
      <div class="form form-right">
        <div class="form-group">
          <button class="btn form-right__btn" [disabled]="id.length==0" (click)="nextTab('comment')">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>
