<section class="section">
  <div class="container model-container">
    <div class="model-left">
      <div class="model-form">
         <form id="model-form" *ngIf="carAllModel">
          <div class="model-form-group" *ngFor="let item of carAllModel">
            <input type="radio" id="{{ item.class }}" class="model-form-control" name="model" [(ngModel)]="carModel" #model="ngModel" (ngModelChange)="onModelChange()" value="{{ item.name }}"/>
            <label class="model-form__label" for="{{ item.class }}">{{ item.name }}</label>
          </div>
        </form>
      </div>
      <div class="model-list" *ngIf="model">
        <a class="model-list__link" *ngFor="let item of model">
          <div class="model-list__item">
            <div class="model-list__title">{{ item.name }}</div>
            <div class="model-list__price">{{ item.priceMin + ' - ' + item.priceMax + ' ₽' }}</div>
            <div class="model-list__img" [ngStyle]="{ 'background-image': 'url(' + item.thumbnail.path + ') '}">
            </div>
          </div>
        </a>  
      </div>
    </div>
    <div class="model-right">
      <h4 class="h4 model-right__title">Ваш заказ:</h4>
      <form class="form form-right" [formGroup]="form" novalidate (ngSubmit)="submit()">
        <div class="form-group">
          <label class="form-label">Пункт выдачи</label>
          <span>......................</span>
          <textarea class="form-control form__text" type="text" id="point" name="point" formControlName="point" placeholder="Ульяновск, Нариманова 42"></textarea>
          <div class="alert alert-danger"
              *ngIf="form.controls['point'].invalid && form.controls['point'].touched">
              <small></small>
          </div>
        </div>
        <div class="form-group mb-32">
          <label class="form-label">Модель</label>
          <span>......................</span>
          <input class="form-control form__text" type="text" id="model" name="model" formControlName="model">
          <div class="alert alert-danger"
              *ngIf="form.controls['model'].invalid && form.controls['model'].touched">
              <small></small>
          </div>
        </div>
        <p class="strong mb-32">Цена: от 8 000 до 12 000 ₽</p>
        <div class="form-group">
          <button class="btn form-right__btn" [disabled]="form.invalid">Дополнительно</button>
        </div>
      </form>
    </div>
  </div>
</section>
