@import "../../style/common.scss";

.container {
  width: $container_width;
}

.form {
  display: inline-block;

  &-right {
    display: block;
    margin-top: 26px;

    &__btn {
      width: 287px;
      height: 48px;
    }

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px;
      text-align: left;
    }
  }

  &-group {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    text-align: right;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: $tablet-min_width) {
      display: block;
      text-align: center;
    }
  }

  &-label {
    margin-right: 7px;
    font-size: 14px;
    line-height: 16px;
    color: $base;
  }

  &-control {
    max-width: 224px;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 16px;
    color: $base;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $gray;
  }

  &__text {
    max-width: 101px;
    border: none;
    color: $gray;
  }
}

.model {
  
  &-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet-min_width) {
      flex-wrap: wrap;
    }

    @media (max-width: $tablet-min_width) and (min-width: $big-mobile-min_width) {
      padding-left: 64px;
    }
  }

  &-left {
    margin-top: 32px;
    margin-right: 32px;
    padding-top: 32px;
    padding-bottom: 160px;

    @media (max-width: $tablet-min_width) {
      padding-bottom: 100px;
    }

    @media (max-width: $big-mobile_width) {
      margin-right: 0px;
    }
  }

  &-right {
    width: 319px;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 160px;
    flex-basis: 319px;
    border-left: 1px solid #EEEEEE;

    @media (max-width: $tablet-min_width) {
      width: 100%;
      margin-bottom: 100px;
      padding-left: 0px;
      padding-bottom: 100px;
      flex-basis: 100%;
      text-align: center;
      border-left: none;
    }

    &__title {
      text-align: right;

      @media (max-width: $tablet-min_width) {
        text-align: center;
      }
    }

    .strong {

      @media (max-width: $tablet-min_width) {
        text-align: center;
      }
    }
  }

  &-list {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;

    &__link {
      display: block;
      width: 368px;
      max-width: 100%;
      height: 224px;
      flex-basis: 368px;

      @media (max-width: $tablet-min_width) {
        width: 100%;
        flex-basis: 100%;
      }

      &:nth-child(odd) {
        box-shadow: -1px 0 0 $light inset, 0 1px 0 $light inset, 1px 0 0 $light inset;

        &:hover {
          box-shadow: -1px 0 0 $gray inset, 0 1px 0 $gray inset, 1px 0 0 $gray inset, 0 -1px 0 $gray inset;
        }

        &:focus {
          box-shadow: -1px 0 0 $green inset, 0 1px 0 $green inset, 1px 0 0 $green inset, 0 -1px 0 $green inset;
        }

        &:active {
          box-shadow: -1px 0 0 $green inset, 0 1px 0 $green inset, 1px 0 0 $green inset, 0 -1px 0 $green inset;
        }

        &.active {
          box-shadow: -1px 0 0 $green inset, 0 1px 0 $green inset, 1px 0 0 $green inset, 0 -1px 0 $green inset;
        }

        &:visited {
          box-shadow: -1px 0 0 $green inset, 0 1px 0 $green inset, 1px 0 0 $green inset, 0 -1px 0 $green inset;
        }
      }
      
      &:nth-child(even) {
        box-shadow: -1px 0 0 $light inset, 0 1px 0 $light inset;

        @media (max-width: $tablet-min_width) {
          box-shadow: -1px 0 0 $light inset, 1px 0 0 $light inset, 0 1px 0 $light inset;
        }

        &:hover {
          box-shadow: -1px 0 0 $gray inset, 0 1px 0 $gray inset, 1px 0 0 $gray inset, 0 -1px 0 $gray inset;
        }

        &:focus {
          box-shadow: -1px 0 0 $green inset, 0 1px 0 $green inset, 1px 0 0 $green inset, 0 -1px 0 $green inset;
        }

        &:active {
          box-shadow: -1px 0 0 $green inset, 0 1px 0 $green inset, 1px 0 0 $green inset, 0 -1px 0 $green inset;
        }

        &.active {
          box-shadow: -1px 0 0 $green inset, 0 1px 0 $green inset, 1px 0 0 $green inset, 0 -1px 0 $green inset;
        }

        &:visited {
          box-shadow: -1px 0 0 $green inset, 0 1px 0 $green inset, 1px 0 0 $green inset, 0 -1px 0 $green inset;
        }
      } 

      &:last-of-type {
        box-shadow: -1px 0 0 $light inset, 0 1px 0 $light inset, 1px 0 0 $light inset, 0 -1px 0 $light inset;
      } 

      &:nth-last-child(2) {
        box-shadow: -1px 0 0 $light inset, 0 1px 0 $light inset, 1px 0 0 $light inset, 0 -1px 0 $light inset;
      } 
    }
    
    &__item {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 16px 16px;
    }

    &__img {
      position: absolute;
      right: 16px;
      bottom: 16px;
      width: 256px;
      height: 116px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__title {
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: $base;
      text-transform: uppercase;
    }

    &__price {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: $gray;
    }
  }
}