<div class="content">
	<div class="main">
		<header class="header">
			<div class="header-burger">
				<button class="header__btn"></button>
				<a class="header__lang">Eng</a>
			</div>
			<a class="header-logo">Need for drive</a>
			<div class="header-right">
				<a class="header-link">
				    <img class="header-link__img" src="assets/images/icons/map.svg" alt="">
				    <span>Ульяновск</span>
				</a>    
			</div>
		</header>
		<section class="section"></section>
		<footer class="footer"></footer>
	</div>
	<div class="slider"></div>
</div>
